/*font-family: 'Nunito', sans-serif;*/

body{
    background-image: url("../image/fondo.png");
    width: auto;
    height: auto;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: black;
    color: white;
    padding: 2%;
}

.cabecera{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly
}

#titulo{
    font-family: 'Nunito', sans-serif; 
    font-size: 20px;  
}

/*----------------------------------*/

main{
    display: flex;
    margin-bottom: 2%;
}

.parteOne{
    margin: 5% 5% 2% 5%;
}

.prueba{
    display: flex;
}

.prueba > textarea{
    border: 3px solid black;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}


/*----------------------------------*/

.advertencia{
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-left: 5%;
    display: flex;
    margin-top: 3%;
}

/*----------------------------------*/

.contenedorBotones{
    display: flex;
    gap: 10px;
}


.boton1{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

    border: 3px solid black;
    border-radius: 24px;

    line-height: 5%;

    width: 250px;
    height: 68px;

    background: #D8DFE8;
    cursor: pointer;
}

.boton2{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

    border: 3px solid black;
    border-radius: 24px;

    line-height: 5%;

    width: 250px;
    height: 68px;

    background: #D8DFE8;
    cursor: pointer;
}


.boton1:hover,.boton2:hover,.botonCopiar:hover{
    transform: scale(0.9);
}

/*----------------------------------*/

.parteTwo{
    flex-direction: column;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    margin-left: 20vh;
    width: 20%;
}

.imagen{
    width: 100%;
    height: 200px;
}

.mensajeRemplazar{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
}

.mensaje{
    font-size: 20px;
}

.mensaje2{
    font-size: 15px;
}

.botonCopiar{

    margin: 10% 18%;

    font-family: 'Nunito', sans-serif;
    font-size: 15px;

    border: 3px solid black;
    border-radius: 15px;

    line-height: 5%;

    width: 65%;
    height: 50px;

    background: #D8DFE8;
    cursor: pointer;

}

/*----------------------------------*/


footer{
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: white;

}

.textoFooter{
    padding: 11px;
    display: flex;
    justify-content: center;
}

.iconos{
    display: flex;
    justify-content: center;
}

/*----------------------------------*/

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 808px){
    main{
        flex-direction: column;
    }

    .contenedorImagen{
        display: none;
    }

    .parteOne{
        margin-left: 20%;
    }
    .parteTwo{
        width: 61%;
        margin-left: 20%;
        height: 10%;
        
    }
}

@media screen and (max-width: 768px){
    .parteOne{
        margin-left: 20%;
    }
    .parteTwo{
        width: 65%;
        margin-left: 19%;
    }
}

@media screen and (max-width: 688px){

    .parteOne{
        margin-left: 15%;
    }

    .parteTwo{
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width:500px){

    main{
        flex-direction: column;
    }

    .contenedorBotones{
        margin: 10% 25% 2%;
        flex-direction: column;
    }


    .boton1,.boton2{
        width: 100%;
    }

    .parteOne{
        margin-left: 5%;
    }

    .parteTwo{
        width: 80%;
        margin-left: 10%;
    }

}

@media screen and (max-width:480px){
}

@media screen and (max-width:425px){
}


@media screen and (max-width: 375px){

}

@media screen and(max-width: 320px){

}

